**CASE STUDY ON PREPROCESSING**

**Dataset Overview**

In [60]:
import pandas as pd

df = pd.read_csv("House_Pricing.csv")
df.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,NaN,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,NaN,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,NaN,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,NaN,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,NaN,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21613 non-null  int64
 1   Date House was Sold                        21613 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21613 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21604 non-null  float64
 6   Lot Area (in Sqft)                         21604 non-null  float64
 7   No of Floors                               21613 non-null  float64
 8   Waterfront View                            21613 non-null  object
 9   No of Times Visited                        2124 non-null   object
 10  Condition of the House                     21613 non-null  object
 11  Overall Grade                              21613 non-null  int64
 12  Area of the House from Basement (in Sqft)  21610 non-null  float64
 13  Basement Area (in Sqft)                    21613 non-null  int64
 14  Age of House (in Years)                    21613 non-null  int64
 15  Renovated Year                             21613 non-null  int64
 16  Zipcode                                    21612 non-null  float64
 17  Latitude                                   21612 non-null  float64
 18  Longitude                                  21612 non-null  float64
 19  Living Area after Renovation (in Sqft)     21612 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21613 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

In [62]:
df.describe()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
count,2.161300e+04,2.160900e+04,21613.000000,21609.000000,21604.000000,2.160400e+04,21613.000000,21613.000000,21610.000000,21613.000000,21613.000000,21613.000000,21612.000000,21612.000000,21612.000000,21612.000000,21613.000000
mean,4.580302e+09,5.401984e+05,3.370842,2.114732,2079.931772,1.510776e+04,1.494309,7.623467,1788.344193,291.509045,46.994864,84.402258,98077.937766,47.560048,-122.213892,1986.538914,12768.455652
std,2.876566e+09,3.673890e+05,0.930062,0.770138,918.487597,4.142827e+04,0.539989,1.105439,827.982604,442.575043,29.373411,401.679240,53.505425,0.138565,0.140830,685.404255,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,290.000000,0.000000,3.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1429.250000,5.040000e+03,1.000000,7.000000,1190.000000,0.000000,21.000000,0.000000,98033.000000,47.470975,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.617500e+03,1.500000,7.000000,1560.000000,0.000000,43.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068825e+04,2.000000,8.000000,2210.000000,560.000000,67.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,10.000000,9410.000000,4820.000000,118.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

**Duplicate Removal**

**Duplicate Removal on Rows**

In [63]:
duplicate_rows = df.duplicated()
print(f"Total duplicate rows: {duplicate_rows.sum()}")
df_cleaned = df.drop_duplicates()
print(f"New dataset shape after duplicates removed: {df_cleaned.shape}")

Total duplicate rows: 0
New dataset shape after duplicates removed: (21613, 21)

**Duplicate Removal on Columns**

In [64]:
duplicate_columns = df.T.duplicated()
dup_col_names = df.columns[duplicate_columns]
print(f"Duplicate columns: {dup_col_names.tolist()}")
df_cleaned = df.drop(columns=dup_col_names)
print(f"New dataset shape after dropping duplicate columns: {df_cleaned.shape}")

Duplicate columns: []
New dataset shape after dropping duplicate columns: (21613, 21)

**Handling Missing Values**

In [65]:
missing_values = df.isnull().sum()
print("Missing values per column:\n", missing_values)

Missing values per column:
 ID                                               0
Date House was Sold                              0
Sale Price                                       4
No of Bedrooms                                   0
No of Bathrooms                                  4
Flat Area (in Sqft)                              9
Lot Area (in Sqft)                               9
No of Floors                                     0
Waterfront View                                  0
No of Times Visited                          19489
Condition of the House                           0
Overall Grade                                    0
Area of the House from Basement (in Sqft)        3
Basement Area (in Sqft)                          0
Age of House (in Years)                          0
Renovated Year                                   0
Zipcode                                          1
Latitude                                         1
Longitude                                        1
Living Area after Renovation (in Sqft)           1
Lot Area after Renovation (in Sqft)              0
dtype: int64

In [66]:
print(df.dtypes)

non_numeric_cols = df.select_dtypes(exclude=["number"]).columns
print(f"Columns with non-numeric values: {non_numeric_cols.tolist()}")

ID                                             int64
Date House was Sold                           object
Sale Price                                   float64
No of Bedrooms                                 int64
No of Bathrooms                              float64
Flat Area (in Sqft)                          float64
Lot Area (in Sqft)                           float64
No of Floors                                 float64
Waterfront View                               object
No of Times Visited                           object
Condition of the House                        object
Overall Grade                                  int64
Area of the House from Basement (in Sqft)    float64
Basement Area (in Sqft)                        int64
Age of House (in Years)                        int64
Renovated Year                                 int64
Zipcode                                      float64
Latitude                                     float64
Longitude                                    float64
Living Area after Renovation (in Sqft)       float64
Lot Area after Renovation (in Sqft)            int64
dtype: object
Columns with non-numeric values: ['Date House was Sold', 'Waterfront View', 'No of Times Visited', 'Condition of the House']

In [67]:
for col in non_numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [68]:
df.fillna(df.mean(), inplace=True)
df.fillna(df.median(), inplace=True)

In [69]:
df.fillna(df.mode().iloc[0], inplace=True)
df.ffill(inplace=True)  # Forward fill
df.bfill(inplace=True)  # Backward fill

In [70]:
missing_values = df.isnull().sum()
print("Missing values per column:\n", missing_values)

Missing values per column:
 ID                                               0
Date House was Sold                          21613
Sale Price                                       0
No of Bedrooms                                   0
No of Bathrooms                                  0
Flat Area (in Sqft)                              0
Lot Area (in Sqft)                               0
No of Floors                                     0
Waterfront View                              21613
No of Times Visited                          21613
Condition of the House                       21613
Overall Grade                                    0
Area of the House from Basement (in Sqft)        0
Basement Area (in Sqft)                          0
Age of House (in Years)                          0
Renovated Year                                   0
Zipcode                                          0
Latitude                                         0
Longitude                                        0
Living Area after Renovation (in Sqft)           0
Lot Area after Renovation (in Sqft)              0
dtype: int64

In [71]:
df["Age of House (in Years)"] = df["Age of House (in Years)"].fillna(df["Age of House (in Years)"].mean())
df["No of Bedrooms"] = df["No of Bedrooms"].fillna(df["No of Bedrooms"].mean())

df["Sale Price"] = df["Sale Price"].fillna(df["Sale Price"].median())
df["Flat Area (in Sqft)"] = df["Flat Area (in Sqft)"].fillna(df["Flat Area (in Sqft)"].median())
df["Lot Area (in Sqft)"] = df["Lot Area (in Sqft)"].fillna(df["Lot Area (in Sqft)"].median())

In [72]:
print(df.isnull().sum())

ID                                               0
Date House was Sold                          21613
Sale Price                                       0
No of Bedrooms                                   0
No of Bathrooms                                  0
Flat Area (in Sqft)                              0
Lot Area (in Sqft)                               0
No of Floors                                     0
Waterfront View                              21613
No of Times Visited                          21613
Condition of the House                       21613
Overall Grade                                    0
Area of the House from Basement (in Sqft)        0
Basement Area (in Sqft)                          0
Age of House (in Years)                          0
Renovated Year                                   0
Zipcode                                          0
Latitude                                         0
Longitude                                        0
Living Area after Renovation (in Sqft)           0
Lot Area after Renovation (in Sqft)              0
dtype: int64

**Scaling Numeric Variables**

In [73]:
numerical_cols = df.select_dtypes(include=["number"]).columns.drop("Sale Price")
print("Numerical columns for scaling:", numerical_cols.tolist())

Numerical columns for scaling: ['ID', 'Date House was Sold', 'No of Bedrooms', 'No of Bathrooms', 'Flat Area (in Sqft)', 'Lot Area (in Sqft)', 'No of Floors', 'Waterfront View', 'No of Times Visited', 'Condition of the House', 'Overall Grade', 'Area of the House from Basement (in Sqft)', 'Basement Area (in Sqft)', 'Age of House (in Years)', 'Renovated Year', 'Zipcode', 'Latitude', 'Longitude', 'Living Area after Renovation (in Sqft)', 'Lot Area after Renovation (in Sqft)']

In [74]:
from sklearn.preprocessing import MinMaxScaler

minmax_scaler = MinMaxScaler()

df_scaled = df.copy()
df_scaled[numerical_cols] = minmax_scaler.fit_transform(df[numerical_cols])

print(df_scaled.head())

         ID  Date House was Sold  Sale Price  No of Bedrooms  No of Bathrooms  \
0  0.720103                  NaN    221900.0        0.090909          0.12500
1  0.647853                  NaN    538000.0        0.090909          0.28125
2  0.568795                  NaN    180000.0        0.060606          0.12500
3  0.251157                  NaN    604000.0        0.121212          0.37500
4  0.197333                  NaN    510000.0        0.090909          0.25000

   Flat Area (in Sqft)  Lot Area (in Sqft)  No of Floors  Waterfront View  \
0             0.067170            0.003108           0.0              NaN
1             0.172075            0.004072           0.4              NaN
2             0.036226            0.005743           0.0              NaN
3             0.126038            0.002714           0.0              NaN
4             0.104906            0.004579           0.0              NaN

   No of Times Visited  ...  Overall Grade  \
0                  NaN  ...       0.666667
1                  NaN  ...       0.666667
2                  NaN  ...       0.555556
3                  NaN  ...       0.666667
4                  NaN  ...       0.777778

   Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
0                                   0.097588                 0.000000
1                                   0.206140                 0.082988
2                                   0.052632                 0.000000
3                                   0.083333                 0.188797
4                                   0.152412                 0.000000

   Age of House (in Years)  Renovated Year   Zipcode  Latitude  Longitude  \
0                 0.521739        0.000000  0.893939  0.571498   0.217608
1                 0.556522        0.988089  0.626263  0.908959   0.166113
2                 0.713043        0.000000  0.136364  0.936143   0.237542
3                 0.434783        0.000000  0.681818  0.586939   0.104651
4                 0.243478        0.000000  0.368687  0.741354   0.393688

   Living Area after Renovation (in Sqft)  Lot Area after Renovation (in Sqft)
0                                0.161934                             0.005742
1                                0.222165                             0.008027
2                                0.399415                             0.008513
3                                0.165376                             0.004996
4                                0.241094                             0.007871

[5 rows x 21 columns]

C:\Users\sheni\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\_array_api.py:776: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmin(X, axis=axis))
C:\Users\sheni\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\_array_api.py:793: RuntimeWarning: All-NaN slice encountered
  return xp.asarray(numpy.nanmax(X, axis=axis))

In [75]:
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
standard_scaler = StandardScaler()

# Apply Standard scaling
df_standard_scaled = df.copy()
df_standard_scaled[numerical_cols] = standard_scaler.fit_transform(df[numerical_cols])

print(df_standard_scaled.head())  # View the transformed dataset

         ID  Date House was Sold  Sale Price  No of Bedrooms  No of Bathrooms  \
0  0.886146                  NaN    221900.0       -0.398737        -1.447612
1  0.637511                  NaN    538000.0       -0.398737         0.175661
2  0.365444                  NaN    180000.0       -1.473959        -1.447612
3 -0.727656                  NaN    604000.0        0.676485         1.149625
4 -0.912881                  NaN    510000.0       -0.398737        -0.148993

   Flat Area (in Sqft)  Lot Area (in Sqft)  No of Floors  Waterfront View  \
0            -0.980024           -0.228345     -0.915427              NaN
1             0.533683           -0.189908      0.936506              NaN
2            -1.426513           -0.123320     -0.915427              NaN
3            -0.130605           -0.244039     -0.915427              NaN
4            -0.435525           -0.169676     -0.915427              NaN

   No of Times Visited  ...  Overall Grade  \
0                  NaN  ...      -0.564013
1                  NaN  ...      -0.564013
2                  NaN  ...      -1.468651
3                  NaN  ...      -0.564013
4                  NaN  ...       0.340626

   Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
0                                  -0.734799                -0.658681
1                                   0.460989                 0.245141
2                                  -1.230024                -0.658681
3                                  -0.891821                 1.397515
4                                  -0.130865                -0.658681

   Age of House (in Years)  Renovated Year   Zipcode  Latitude  Longitude  \
0                 0.544898       -0.210128  1.870219 -0.352541  -0.306117
1                 0.681079        4.746678  0.879619  1.161620  -0.746386
2                 1.293892       -0.210128 -0.933365  1.283590  -0.135691
3                 0.204446       -0.210128  1.085216 -0.283256  -1.271867
4                -0.544548       -0.210128 -0.073599  0.409591   1.199316

   Living Area after Renovation (in Sqft)  Lot Area after Renovation (in Sqft)
0                               -0.943339                            -0.260715
1                               -0.432668                            -0.187868
2                                1.070164                            -0.172375
3                               -0.914158                            -0.284522
4                               -0.272172                            -0.192849

[5 rows x 21 columns]

C:\Users\sheni\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\extmath.py:1101: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\sheni\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\extmath.py:1106: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
C:\Users\sheni\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\extmath.py:1126: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

**Encoding Categorical Variables**

In [76]:

categorical_cols = df.select_dtypes(include=["object"]).columns
print("Categorical columns:", categorical_cols.tolist())

Categorical columns: []

In [79]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop="first", sparse_output=False)  

encoded_cols = encoder.fit_transform(df[categorical_cols])
encoded_df = pd.DataFrame(encoded_cols, columns=encoder.get_feature_names_out(categorical_cols))

df = pd.concat([df.drop(columns=categorical_cols), encoded_df], axis=1)

print(df.head())

           ID  Date House was Sold  Sale Price  No of Bedrooms  \
0  7129300520                  NaN    221900.0               3
1  6414100192                  NaN    538000.0               3
2  5631500400                  NaN    180000.0               2
3  2487200875                  NaN    604000.0               4
4  1954400510                  NaN    510000.0               3

   No of Bathrooms  Flat Area (in Sqft)  Lot Area (in Sqft)  No of Floors  \
0             1.00               1180.0              5650.0           1.0
1             2.25               2570.0              7242.0           2.0
2             1.00                770.0             10000.0           1.0
3             3.00               1960.0              5000.0           1.0
4             2.00               1680.0              8080.0           1.0

   Waterfront View  No of Times Visited  ...  Overall Grade  \
0              NaN                  NaN  ...              7
1              NaN                  NaN  ...              7
2              NaN                  NaN  ...              6
3              NaN                  NaN  ...              7
4              NaN                  NaN  ...              8

   Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
0                                     1180.0                        0
1                                     2170.0                      400
2                                      770.0                        0
3                                     1050.0                      910
4                                     1680.0                        0

   Age of House (in Years)  Renovated Year  Zipcode  Latitude  Longitude  \
0                       63               0  98178.0   47.5112   -122.257
1                       67            1991  98125.0   47.7210   -122.319
2                       85               0  98028.0   47.7379   -122.233
3                       53               0  98136.0   47.5208   -122.393
4                       31               0  98074.0   47.6168   -122.045

   Living Area after Renovation (in Sqft)  Lot Area after Renovation (in Sqft)
0                                  1340.0                                 5650
1                                  1690.0                                 7639
2                                  2720.0                                 8062
3                                  1360.0                                 5000
4                                  1800.0                                 7503

[5 rows x 21 columns]

In [80]:
print(df["Overall Grade"].unique())

[ 7  6  8 10  9  5  4  3  2  1]

In [81]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df["Overall Grade"] = label_encoder.fit_transform(df["Overall Grade"])

print(df.head())

           ID  Date House was Sold  Sale Price  No of Bedrooms  \
0  7129300520                  NaN    221900.0               3
1  6414100192                  NaN    538000.0               3
2  5631500400                  NaN    180000.0               2
3  2487200875                  NaN    604000.0               4
4  1954400510                  NaN    510000.0               3

   No of Bathrooms  Flat Area (in Sqft)  Lot Area (in Sqft)  No of Floors  \
0             1.00               1180.0              5650.0           1.0
1             2.25               2570.0              7242.0           2.0
2             1.00                770.0             10000.0           1.0
3             3.00               1960.0              5000.0           1.0
4             2.00               1680.0              8080.0           1.0

   Waterfront View  No of Times Visited  ...  Overall Grade  \
0              NaN                  NaN  ...              6
1              NaN                  NaN  ...              6
2              NaN                  NaN  ...              5
3              NaN                  NaN  ...              6
4              NaN                  NaN  ...              7

   Area of the House from Basement (in Sqft)  Basement Area (in Sqft)  \
0                                     1180.0                        0
1                                     2170.0                      400
2                                      770.0                        0
3                                     1050.0                      910
4                                     1680.0                        0

   Age of House (in Years)  Renovated Year  Zipcode  Latitude  Longitude  \
0                       63               0  98178.0   47.5112   -122.257
1                       67            1991  98125.0   47.7210   -122.319
2                       85               0  98028.0   47.7379   -122.233
3                       53               0  98136.0   47.5208   -122.393
4                       31               0  98074.0   47.6168   -122.045

   Living Area after Renovation (in Sqft)  Lot Area after Renovation (in Sqft)
0                                  1340.0                                 5650
1                                  1690.0                                 7639
2                                  2720.0                                 8062
3                                  1360.0                                 5000
4                                  1800.0                                 7503

[5 rows x 21 columns]

In [82]:
print(df["Overall Grade"].value_counts())

Overall Grade
6    8981
7    6068
8    2615
5    2038
9    1623
4     242
3      29
1      13
2       3
0       1
Name: count, dtype: int64

**Outlier Removal**

In [83]:
import numpy as np

numerical_cols = df.select_dtypes(include=["number"]).columns.drop("Sale Price")

for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    print(f"{col}: {outliers.shape[0]} outliers detected")

ID: 0 outliers detected
Date House was Sold: 0 outliers detected
No of Bedrooms: 546 outliers detected
No of Bathrooms: 571 outliers detected
Flat Area (in Sqft): 572 outliers detected
Lot Area (in Sqft): 2419 outliers detected
No of Floors: 0 outliers detected
Waterfront View: 0 outliers detected
No of Times Visited: 0 outliers detected
Condition of the House: 0 outliers detected
Overall Grade: 1911 outliers detected
Area of the House from Basement (in Sqft): 610 outliers detected
Basement Area (in Sqft): 496 outliers detected
Age of House (in Years): 0 outliers detected
Renovated Year: 914 outliers detected
Zipcode: 0 outliers detected
Latitude: 2 outliers detected
Longitude: 256 outliers detected
Living Area after Renovation (in Sqft): 544 outliers detected
Lot Area after Renovation (in Sqft): 2194 outliers detected

In [84]:
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]

print(f"New dataset shape after removing outliers: {df.shape}")

New dataset shape after removing outliers: (0, 21)

import seaborn as sns
import matplotlib.pyplot as plt

# Plot boxplots to visualize post-cleaning
plt.figure(figsize=(12, 6))
sns.boxplot(data=df[numerical_cols])
plt.xticks(rotation=45)
plt.title("Boxplot of Numerical Features After Outlier Removal")
plt.show()

**Train-Test Split**

In [85]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=["Sale Price"]) 
X
y = df["Sale Price"] 
y

Series([], Name: Sale Price, dtype: float64)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shape of the resulting sets
print(f"Training set: X_train shape: {X_train.shape}, y_train shape: {y_train.shape}")
print(f"Testing set: X_test shape: {X_test.shape}, y_test shape: {y_test.shape}")